.digit {
  display: inline-block;
  height: 329.56px;
  overflow: hidden;

  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
}

.digit:first-child {
  border-left: none;
}

.digit-container {
  line-height: 1em;
  -webkit-animation: slide infinite linear;
  animation: slide infinite linear;
}

.digit-one {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.digit-ten {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.digit-hundred {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

@-webkit-keyframes slide {
  from {
    -webkit-transform: translateY(-10em);
  }
  to {
    -webkit-transform: translateY(0);
  }
}
@keyframes slide {
  from {
    transform: translateY(-10em);
  }
  to {
    transform: translateY(0);
  }
}