/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap");

* {
  box-sizing: border-box;
}
*/
html, body {
  height: 100%;
}

.stackLayer{
  position: absolute;
}

header h1 {
  font-weight: normal;
  padding: 20px;
  font-size: 42px;
  letter-spacing: 0.1em;
}

main {
  width: 80%;
  max-width: 400px;
  margin: auto;
  font-size: clamp(60px, 30vw, 200px);
  border: solid 2px;
}

.hidden-mask {
  visibility: hidden;
}

.odometer {
  color: whitesmoke;
  font-size: 250px;
  font-family: 'Nunito', sans-serif;
}

.odometerx {
  color: whitesmoke;
  font-size: 250px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

.logowrap{
  max-width: 250px;
}

.rollbutton{
  background-color: whitesmoke;
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.buttoncontainer{
}


.numbox{
  background-image: linear-gradient(315deg, #034846 0%, #2a5470 74%);
  width: 210px;
  border-radius: 25px;
  border-width: 12px;
  border-style: solid;
  border-color: #2a547053;
  text-align: center;
}

.luckynumber{
  color: transparent;
  font-size: 5em;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  background-image: linear-gradient(
    to bottom,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #cb9b51;
}

body {
  --c1: #ff9500;
  --c2: #008358;
  --c3: #048aff;
  --c4: #f6e27a;
  --c5: #00ff1a;
  --c6: #cc00ff;
  --c7: #ff0000;
  display: block;
  place-items: center;
  place-content: center;
  gap: 2rem;
  font-family: "Roboto Flex", sans-serif;
}

.hothot{
  color:teal;
}

h1{
  font-weight: 700;
  font-size: 3em;
  font-family:Arial, Helvetica, sans-serif
}

h2{
  font-weight: bolder;
  font-size: 5em;
  font-family: Arial, Helvetica, sans-serif;
  color: #927303;
}

@media (prefers-reduced-motion) {
  .celebrate {
    -webkit-animation: unset;
            animation: unset;
  }
}

@-webkit-keyframes bg {
  100% {
    background-position: 200% center;
  }
}

@keyframes bg {
  100% {
    background-position: 200% center;
  }
}